<h1>Blog eDITED FROM BLOGPAGE #edit</h1>

<%= form_for @blog, :url => {:action => "updatefromblog"} do |f| %>
  <div>Title: <%= f.text_field :title, placeholder: "Add Title" %></div>
  <br>
  <div>Content: <%= f.text_area :content, placeholder: "Add Content" %></div>
  <br>
  <%= f.submit %>
<% end %>
