<div class='new-blog-wrapper'>
  <h1 class='content-title'>NEW BLOG</h1>

  <%= form_for Blog.new do |f| %>
    <div class='blog-form-wrapper'>
      <div class='form-title'>Title:</div>
      <%= f.text_field :title, {:class => "form-text-field"} %>
      <div class='form-title'>Content:</div>
      <%= f.text_area :content, {:class => "form-text-area"} %>
    </div>
    <%= f.submit 'SUBMIT', :class => "submit-button" %>
  <% end %>
</div>
