// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// All blogs page
.blog-listing {
  display: grid;
  grid-template-rows: 1.5rem 1.5rem 1fr;
  grid-template-columns: 5rem 1fr;
  width: 60rem;
  margin: 2.5rem auto;
  padding: 2.5rem 5rem;
  background-color: $sky;
  border: 2px solid $navy;
  word-wrap: break-word;
}

.blog-listing-title {
  grid-column: 1 / 3;
}

.blog-listing-author {
  grid-column: 1 / 3;
}

.blog-listing-content {
  grid-column: 2 / 3;
  word-break: break-all;
  hyphens: auto;
  line-height: 1.5rem;
  margin-top: 1rem;
}

// Create/edit/delete blogs forms
.blog-form-wrapper {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-row-gap: 0.75rem;
  margin: 0 auto;
  width: 60rem;
  padding: 2.5rem 2.5rem;
}
