// Page-wrapper
.page-wrapper {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  height: 100vh;
  width: 100vw;
  letter-spacing: 0.75px;
}

// Page content title
.content-title {
  font-size: 2rem;
  margin: 5rem 0 3.75rem;
  text-align: center;
  color: $navy;
}

// Body links
.site-link {
  color: $navy;
  font-weight: 500;
  text-decoration: none;
}

.site-link:hover {
  color: $rojo;
}

// Submit buttons
.submit-button {
  display: block;
  margin: 0 auto;
  padding: 0.6rem 1.75rem;
  background-color: $navy;
  font-size: 1.15rem;
  cursor: pointer;
  color: $sky;
}

.submit-button:hover {
  color: $rojo;
}
